<template>
  <div class="about">
    <h1>Hi There!</h1>
    <p>
      I'm a web developer based in Edinburgh, Scotland. I have a passion for web design!
    </p>
  </div>
</template>

<style scoped>


</style>
