<template>
  <div>
    <h1>Hello!</h1>
  </div>
</template>

<script>
export default {
  name: 'success',

};

</script>

<style scoped>

.btn-primary {
  background-color: #515796;
  border-color: #515796;
}
</style>