
<template>
    <div class="image-about">
        <img src='../assets/jane.png' alt="profile-image"/>
    </div>
</template>

<style scoped>

img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
   

</style>